.content{
    display: grid;
    grid-template-columns: 60% 20%;
    width: 100%;
    margin: auto;
    background-color: rgb(252, 252, 252);
    justify-content: center;
}

.page-articles .article-item{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 10px 10px 10px 0px;
}

.page-articles .article-item .article-img{
    float: left;
    overflow: hidden;
    margin-right: 30px;
}

.page-articles .articles-title{
    width: 100%;
}

.sidebar .sidebar-banner{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.sidebar .sidebar-banner img{
    margin: 20px;
    width: 250px;
    opacity: 0.8;
}

.sidebar .sidebar-banner .side-banner-text{
    position: absolute;
    bottom: 20%;
    left: 20%;
    background-color: #ff1b4b;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
}

.sidebar .sidebar-banner:hover img{
    opacity: 0.7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}